.formWrapper {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
}

.labelWrapper {
  display: flex;
  flex-direction: row;
}

.label {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.errorMessage {
  color: red;
}
