.contactListWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.contactListWrapper:hover {
  border: 1px solid #535bf2;
}

.contactList {
  display: flex;
  flex-direction: column;
  text-align: start;
}
